body {
  font-family: Calibri, Arial, sans-sarif;
}

ul {
  border: 1px black solid;
}  

img {
  height: 200px;
  width: 360px;
  border: 2px green dashed;
  padding: 5px 10px 5px 10px;
}  

#first-ingredient {
   color: pink;
}  

.section-heading {
  background-color: #00ff00;
  font-style: italic;
}
